django==6.0.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
PyMySQL
Pillow
django-environ
drf-spectacular
django-rest-registration
gunicorn
django_extensions
mysqlclient==2.2.7
