{% extends 'base.html' %}

{% block extend_title %}Nouveau mot de passe |{% endblock %}

{% block content %}
<div class="col-6 mx-auto pt-5">
    <div class="border rounded p-4">
        <h3 class="mb-5 text-center">Changement de mot de passe</h3>

        {% if validlink %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-lg btn-primary btn-round btn-block btn-loading shadow-sm mt-4">
                Enregistrer
            </button>
        </form>
        {% else %}
        <p>
            Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé.
            Veuillez demander une nouvelle réinitialisation du mot de passe.
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}