{% extends 'base.html' %}

{% block extend_title %}Mot de passe oubié  |{% endblock %}

{% block content %}
<div class="col-6 mx-auto pt-5">
    <div class="border rounded p-4">
        <h3 class="mb-5 text-center">Mot de passe oubié </h3>
        <p>
            Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'adresse e-mail que vous avez saisie.
            Vous devriez les recevoir sous peu.
        </p>
        <p>
            Si vous ne recevez pas d'e-mail, vérifiez que vous avez bien saisi l'adresse avec laquelle vous vous êtes inscrit,
            et vérifiez votre dossier spam.
        </p>
    </div>
</div>
{% endblock %}